streamlit
chromadb==0.4.18  # streamlit-chromadb-connection==0.0.5と互換
streamlit-chromadb-connection==0.0.5
moviepy==1.0.3
imageio
imageio-ffmpeg
opencv-python-headless
numpy
langchain-openai
langchain-community
langchain-core
langchain
openai
tiktoken
fastapi==0.111.1  # uvloopを要求しないバージョン
# snowflake-connector-python[pandas] # ChromaDBを使用するため不要 