streamlit
chromadb==1.0.8
streamlit-chromadb-connection==1.0.5
moviepy==1.0.3
imageio
imageio-ffmpeg
opencv-python-headless
numpy
langchain-openai
langchain-community
langchain-core
langchain
openai
tiktoken
fastapi==0.111.0
pysqlite3-binary==0.5.7
# snowflake-connector-python[pandas] # ChromaDBを使用するため不要 